{% assign url = page.url | split: '/' %}
{% assign lang = url[1]%}
{% assign projects = site.data.projects[lang] %}


    
    
<div class="content">
    <h2 class ="content-title">{{ projects.title }}</h2>
    {% for project in projects.projects %}
        <div class="section accordion">
            <div class='section_div_header'>
                <div class="header-container" style="display: flex; align-items: center; justify-content: flex-start; gap: 0.5rem;">
                    <h4 class= "title" style="margin: 0;">{{ project[0] }}</h4>
                    <a href="{{  project[1].link  }}" target="_blank" style="display: flex; align-items: center;">
                        <img src="/assets/image/github-icon.svg" alt="github_logo" style="width: 24px; height: 24px;">
                    </a>
                    {% if project[1].demo_link %}
                    <a href="{{ project[1].demo_link }}" target="_blank" style="display: flex; align-items: center;">
                        <img src="/assets/image/external-link.svg" alt="demo_link" style="width: 24px; height: 24px;">
                    </a>
                    {% endif %}
                </div>

                <div class="stack">
                    {% for stack in project[1].stack.green %}
                        <span class="badge rounded-pill text-bg-success">{{ stack }}</span>
                    {% endfor %}
                    {% for stack in project[1].stack.teal %}
                        <span class="badge rounded-pill text-bg-info">{{ stack }}</span>
                    {% endfor %}
                    {% for stack in project[1].stack.grey %}
                    <span class="badge rounded-pill text-bg-secondary">{{ stack }}</span>
                    {% endfor %}
                </div>
                <p>{{ project[1].descrition }}</p>
            </div>
            <div class="section_detail">
                <ul>
                    {% for detail in project[1].detail %}
                        <li> {{ detail }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

