{% assign url = page.url | split: '/' %}
{% assign lang = url[1]%}
{% assign competences = site.data.competences[lang] %}

{{ competences[0] }}
<div class='content'>
    <h2 class="content-title">{{ competences.title }}</h2>
    {% for competence in competences.competences %}
    <div class="section">
        <div class="section_div_header">
            <img src="{{ competence[1].logo }}" class="skills_logo" alt="python_logo">
            <h4 class="title">{{ competence[0] }}</h4>
        </div>
        <div class="section2">
            {% for value in competence[1].competences %}
            <h6>{{ value[0] }}</h6>
            <p>
                {% assign items = value[1] %}

                {% for item in items %}
                  {{ item }}{% unless forloop.last %} - {% endunless %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>