---
---
// styles.scss
@use '_abount_me';
@use '_skills';

.header-link {

}

.header-link:hover {

}




//Specific

//nav bar

.navbar{
    background-color: rgb(226, 226, 226);
}

//body 
/*
.main_body{
    width: 80%;
    margin: auto;
}*/

// General end
.content{
  padding-bottom: 5%;
  width: 80%;
  padding: 4%;
  margin: auto;
}


// nav intro

.div_intro{
    padding-top :8%;
    text-align: center;
}




// Footer

.footer{
    border-top: 1px solid black; 
    padding-top: 4%;
    text-align: center;
}



//contact block



.contact-block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
  }

  .contact-block h2 {
    margin-top: 0;
    color: #333;
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact-info p {
    margin: 10px 0;
    color: #777;
  }





