---
---
// variables
@import 'vars';

// styles.scss
@import 'header';
@import 'footer';

@import 'abount_me';
@import 'skills';
@import 'experiences';

.p{
  font-family:"Lato Bold"
}

.blue{
  color: #1C6789;
}

.bold {
  font-weight: bold;
}

//Specific

//nav bar

.navbar{
    background-color: rgb(226, 226, 226);
}

//body 
/*
.main_body{
    width: 80%;
    margin: auto;
}*/

// General end
.content{
  padding-bottom: 5%;
  width: 80%;
  margin: auto;
}


// nav intro

.div_intro{
    padding-top :7%;
    padding-bottom: 3%;
    text-align: center;
}


.section-title{
  margin-bottom: 3%;
  padding-bottom: 1%;
  padding-left: 1%;
  border-bottom: 2px solid black;
}

//contact block

.contact-block {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.contact-block h2 {
  margin-top: 0;
  color: #333;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px 0;
  color: #777;
}





