---
---
// styles.scss


@use '_abount_me';
@use '_skills';

.header-link {

}

.header-link:hover {

}




//Specific

//nav bar

.navbar{
    background-color: rgb(226, 226, 226);
}

//body 
/*
.main_body{
    width: 80%;
    margin: auto;
}*/


// nav intro

.div_intro{
    padding-top :8%;
    text-align: center;
}

// abount me

.div_abount_me{
    background-color: rgb(212, 212, 212);
    margin: 0 15%;
    padding: 4% 4%;
}



// Footer

.footer{
    border-top: 1px solid black; 
    padding-top: 4%;
    text-align: center;
}







// General end
.content{
    padding-bottom: 5%;
}


