.div_experiences{
    padding: 0 3%;
}

.experience_information{
    float: right;
}

.experience_header h4, .experience_header p {
    display: inline;
}
.experience_header {
    margin-bottom: 0.5%;
    margin-top: 2%;
}

.experience_detail{
    line-height: 2em;
}

.experience_detail ul{
    padding-left: 0;
}

.experience_detail li{
    margin-left: 3%;
}