.nav-link:hover {
    color: #1C6789;
}

.language_link a{
    display: block;
    display: inline-block;
    margin: 1px;
}

/* Custom CSS to add lines between menu items on small screens */
@media (max-width: $breakpoint-md) {
    .nav-item {
      border-bottom: 1px solid #000000; /* You can adjust the color as needed */
    }
    .flag_div{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .nav-link:hover {
        text-decoration: none;
    }
  }