/* Styles for the .div_skills container */
.div_skills {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header img,
.header h3,h4,h5 {
  display: inline-block;
}

.header img {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.header {
  margin-bottom: 1em;
}

.section {
  padding: 0 2.5em;
}