<div class="container div_abount_me content">
    <div class="row">
        <div class="col-4">

            <div class="contact-block">
                <h4 class="blue">Contact</h4>
                <div class="contact-info">
                  <p><strong>LinkedIn:</strong> Creusot Aymeric</p>
                  <p><strong>Github:</strong> DevRickyCst</p>
                  <p>dev.creusot.aym@gmail.com</p>
                  <p>+33 6 87 58 68 02</p>
                  <p>Courbevoie, France</p>
                </div>
              </div>

        </div>
        <div class="col-8">
            <div class="div-about-me-content">
                <h2 class="section-title blue bold">About me</h2>
                    <p>
                        Mastering python for now 3 Years in differents fiel such as REST api, web, data 
                    </p>
            </div>

        </div>
    </div>
</div>