<div class='div_skills'>
    <div class= 'div_skill'>
        <div class='skill_header'>
                <img src="/assets/image/python.svg" alt="python_logo">
                <b class='skill_title'>Python</b>
        </div>
        <div>
        <p><b>Python Core :</b> Data Structure, Generators, Iterators, Exeptions, OOPs concepts </p>
        <p><b>Web developpment :</b> Django, Flask, Dash, Fast API, AWS Chalice </p>
        <p><b>Data Processsing :</b> Pandas, Numpy, PySpark, Airflow</p>
        <p><b>Blockchain :</b> Web3.py, Smart contract developpment with Brownies</p>
        <div class='div_langages'>
            <b>Other langage :</b> 
                <img src="/assets/image/javascript.svg" alt="javascript_logo">
                SQL, 
                <img src="/assets/image/javascript.svg" alt="javascript_logo">
                Javascript, 
                <img src="/assets/image/solidity.svg" alt="solidity_logo">
                Solidity,
                <img src="/assets/image/ruby.svg" alt="ruby_logo">
                Ruby, 
                <img src="/assets/image/html.svg" alt="html_logo">
                HTML 
        </div>
        </div> 
    </div>
    <div class='div_knowledge'>
        <div class='skill_header'>Other knowledge</div>
        <p><b>Cloud developpement :</b> AWS, GCP, IaC (Cloudformation, Terraform) </p>
        <p><b>DevOps :</b> Docker, Kubernet, Github CI/CD</p>
        <p><b>Database management :</b></p>
    </div>
</div>